<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#/new">New Invoice</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="http://github.com/huangchris/invoicer">Source</a></li>
    </ul>
  </div>
</nav>

<h1>Test</h1>
<div id="content">

</div>
